.div-video-screen{
    /* position: relative */
}

.video-screen {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    /* position: absolute; */
}

#video-full-screen{
    opacity: 5 !important;
}

.btn-close{ 
    position: absolute; 
    left: 96%;


}